<div class="header-container">
  <div class="logo-container">
    <img src="./assets/logo.png" alt="logo">
  </div>
  <div class="menu-container d-none d-lg-block">

    <button class="menu-items" [routerLink]="'/home'" (click)="scrollToTop()"
      [ngClass]="{'active-link': router.url === '/home'}">
      Home
    </button>
    <button class="menu-items" [routerLink]="'/service'" (click)="scrollToTop()"
      [ngClass]="{'active-link': router.url === '/service'}">
      Services
    </button>

    <button class="menu-items" [routerLink]="'/about'" (click)="scrollToTop()"
      [ngClass]="{'active-link': router.url === '/about'}">
      About
    </button>

    <button class="menu-items" [routerLink]="'/contact'" (click)="scrollToTop()"
      [ngClass]="{'active-link': router.url === '/contact'}">
      Contact
    </button>

    <button class="menu-items" [routerLink]="'/blog'" (click)="scrollToTop()"
      [ngClass]="{'active-link': router.url === '/blog'}">
      Blog
    </button>
  </div>
  <div class="d-lg-none">
    <button class="icon-button" style="color: white;font-size: 38px;" (click)="openSidenav()">
      <ng-icon name="bootstrapList"></ng-icon>
    </button>
  </div>
</div>

<div #sideNav class="sidenav-container" [ngClass]="{'sidenav-container--open': isSidenavOpen}">

  <button class="menu-items" [routerLink]="'/home'" (click)="scrollToTop();closeSidenav()"
    [ngClass]="{'active-link': router.url === '/home'}">
    Home
  </button>
  <span *ngIf="isSidenavOpen" class="close-icon"  (click)="closeSidenav()">&#10005;</span> <!-- X -->
  <br />
  <button class="menu-items" [routerLink]="'/service'" (click)="scrollToTop();closeSidenav()"
    [ngClass]="{'active-link': router.url === '/service'}">
    Services
  </button>
  <br />
  <button class="menu-items" [routerLink]="'/about'" (click)="scrollToTop();closeSidenav()"
    [ngClass]="{'active-link': router.url === '/about'}">
    About
  </button>
  <br />
  <button class="menu-items" [routerLink]="'/contact'" (click)="scrollToTop();closeSidenav()"
    [ngClass]="{'active-link': router.url === '/contact'}">
    Contact
  </button>
  <br />
  <button class="menu-items" [routerLink]="'/blog'" (click)="scrollToTop();closeSidenav()"
    [ngClass]="{'active-link': router.url === '/blog'}">
    Blog
  </button>
</div>