<div class="header-container">
    <div class="logo-container">
        <img src="/assets/logo.png" alt="logo">
    </div>
<div class="menu-container">

  <button 
    class="menu-items" 
    [routerLink]="'/home'" 
    [ngClass]="{'active-link': router.url === '/home'}">
    Home
  </button>
  <button 
    class="menu-items" 
    [routerLink]="'/service'" 
    [ngClass]="{'active-link': router.url === '/service'}">
    Services
  </button>

  <button 
    class="menu-items" 
    [routerLink]="'/about'" 
    [ngClass]="{'active-link': router.url === '/about'}">
    About
  </button>

  <button 
    class="menu-items" 
    [routerLink]="'/contact'" 
    [ngClass]="{'active-link': router.url === '/contact'}">
    Contact
  </button>

  <button 
    class="menu-items" 
    [routerLink]="'/blog'" 
    [ngClass]="{'active-link': router.url === '/blog'}">
    Blog
  </button>
</div>



</div>