 <div class="container-fluid hero-section pt-5">
    <!-- Left Section -->
    <div class="hero-left col-sm-8">
      <small>About us</small>
      <h1 class="mt-2">
        Committed to <br />
        Quality <span class="highlight">Car Care</span>
      </h1>
      <p>
        At Siva Auto care, we are committed to providing high-quality, reliable car services that keep your vehicle
        performing at its best. As a Bosch-authorized service center, our expert technicians ensure every job meets the
        highest standards of safety and precision.
      </p>
      <button class="btn btn-learn mb-5" routerLink="/about">Learn More</button>
    </div>

    <!-- Right Section -->
    <div class="hero-right mt-4 mt-md-0 col-sm-4">
      <img src="./assets/image.png" alt="Car Main" class="main-image" />
      <img src="./assets/image (1).png"alt="Car Wash" class="overlay-image" />
      <div class="experience-box">
        <span>+20</span><br/>
        <small>Years of Experience</small>
      </div>
    </div>
  </div>