<div class="contact-banner d-flex align-items-center justify-content-center text-center">
    <div class="contact-content">
        <h1 class="heading-text">
            <span class="text-white fw-bold">Trusted Automotive</span>
            <span class="text-primary fw-bold"> Service </span>
            <span class="text-white fw-bold">for All Brands</span>

        </h1>
        <p class="text-light subtext">
            Get expert automotive care for all your needs—routine service, major repairs, or discontinued models. Our
            skilled technicians ensure reliable, quality service for every brand, keeping your car road-ready.
        </p>
    </div>
</div>

<!-- Right Section -->
<div class="stats-section">
    <div>
        <div class="number">+20</div>
        <div class="subNumber">Years Experience</div>
    </div>
    <div class="boder"></div>
    <div>
        <div class="number">20+</div>
        <div class="subNumber">Expert Technicians</div>
    </div>
    <div class="boder"></div>
    <div>
        <div class="number">1,200+</div>
        <div class="subNumber">Projects Completed</div>
    </div>
    <div class="boder"></div>
    <div>
        <div class="number">100%</div>
        <div class="subNumber">Satisfaction Rate</div>
    </div>
</div>
<div class="" style="background-color: black;">
    <div class="container py-5">
        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/oil, change, car, maintenance, service.svg" class="mb-3" alt="Fluid Services">
                        <h6>Oil Change & Fluid Services</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/inspection, car, maintenance, check, service.svg" class="mb-3"
                            alt="maintenance">
                        <h6>Muffler & Silencer Works</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/brake, inspection, car, maintenance, safety.svg" class="mb-3"
                            alt="Water Wash">
                        <h6>Water Wash</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/transmission, car, maintenance, check, service.svg" class="mb-3"
                            alt="Accessories">
                        <h6>Car Accessories & Fittings</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/transmission, car, maintenance, check, service.svg" class="mb-3"
                            alt="Accessories">
                        <h6>Car Accessories & Fittings</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/headlight, car, maintenance, replace, check.svg" class="mb-3" alt="Works">
                        <h6>Car Door Works</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/exhaust, system, car, maintenance, check.svg" class="mb-3" alt="exhaust">
                        <h6>Electrical Services</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/air, conditioning, car, maintenance, check.svg" class="mb-3"
                            alt="conditioning">
                        <h6>AC Works</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/tire, rotation, car, maintenance, service.svg" class="mb-3"
                            alt="Advanced vehicle coding.">
                        <h6>Advanced vehicle coding</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/battery, car, power, maintenance, check.svg" class="mb-3"
                            alt="Battery Services">
                        <h6>Battery Services</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/timing, belt, car, maintenance, replace.svg" class="mb-3" alt="New Tyres">
                        <h6>New Tyres</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/cleaning, wash, soap, detail, shine.svg" class="mb-3" alt="Balancing">
                        <h6>3D Alignment & Balancing</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/exhaust, system, car, maintenance, check.svg" class="mb-3" alt="Bosch Engine Scanning">
                        <h6>Bosch Engine Scanning</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="service-card">
                    <div class="service-icon">
                        <img src="./assets/exhaust, system, car, maintenance, check.svg" class="mb-3" alt="Tinkering & Painting">
                        <h6>Tinkering & Painting</h6>
                        <button class="btn btn-custom mt-3">Book Now</button>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>