::ng-deep .mat-dialog-container {
  border-radius: 12px;
  padding: 20px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px); /* This adds blur */
  background-color: rgba(0, 0, 0, 0.4); /* Optional dark overlay */
  z-index: 1000;
  overflow: hidden;
}

