<section class="py-5  text-white">



    <div class="container mt-5">
        <div class="carousel-title">
            <span>Car Brands</span> We Cover
        </div>
        <section>
            <div class="container">
                
                <div id="carBrandCarousel" class="carousel slide" data-bs-ride="carousel">
                     <button class="carousel-control-prev" type="button" data-bs-target="#carBrandCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carBrandCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                    <div class="carousel-inner">
                        <!-- Slide 1 -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-3 carosalWidth">
                                    <div class="card title">
                                        <img src="/assets/car-brand1.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title">Volkswagen</div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card title">
                                        <img src="/assets/car-brand2.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title">Skoda</div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card title">
                                        <img src="/assets/car-brand3.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title">Jeep</div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card title">
                                        <img src="/assets/car-brand4.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title">Nissan</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Slide 2 -->

                        <!-- <div class="carousel-item">
                <div class="row">
                      <div class="col-3">
                        <div class="card bg-dark">
                            <img src="/assets/car-brand5.jpg" class="card-img-top" alt="carbrand">
                            <div class="card-title">Chevrolet</div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card bg-dark">
                            <img src="/assets/car-brand2.jpg" class="card-img-top" alt="carbrand">
                            <div class="card-title">Skoda</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-dark">
                            <img src="/assets/car-brand3.jpg" class="card-img-top" alt="carbrand">
                            <div class="card-title">Jeep</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-dark">
                            <img src="/assets/car-brand4.jpg" class="card-img-top" alt="carbrand">
                            <div class="card-title">Nissan</div>
                        </div>
                    </div>
              
                </div>
            </div> -->


                    </div>

                    <!-- Controls -->
                   
                </div>

            </div>
        </section>
    </div>
</section>







<!-- <div class="brand-container" style="color:white">
    <h1 class="brand-head"><span style="color:#1B5BE6">Car Brands</span>
        <span style="color: #FFFFFF"> We Cover</span>
    </h1>


    <section class="py-5  text-white">
        <div class="container">
            <div id="carouselExample" class="carousel slide mt-4">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card  text-white">
                                    <img src="/assets/car-brand1.jpg" class="card-img-top" alt="carbrand">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Volkswagen</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card  text-white">
                                    <img src="/assets/car-brand2.jpg" class="card-img-top" alt="carbrand">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Skoda</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card  text-white">
                                    <img src="/assets/car-brand3.jpg" class="card-img-top" alt="carbrand">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Jeep</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card  text-white">
                                    <img src="/assets/car-brand4.jpg" class="card-img-top" alt="carbrand">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Nissan</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card  text-white">
                                    <img src="/assets/car-brand5.jpg" class="card-img-top" alt="carbrand">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Chevrolet</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <h1 class="luxury-brand-head"><span style="color:#1B5BE6">Luxury Car Brands</span>
        <span style="color: #FFFFFF"> We Cover</span>
    </h1>
    <div class="row pb-5">
        <div class="col-md-3">
            <div class="card  text-white">
                <img src="/assets/car-luxury1.jpg" class="card-img-top" alt="luxurybrand">
                <div class="card-body text-center">
                    <h5 class="card-title">Jaguar</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card  text-white">
                <img src="/assets/car-luxury2.jpg" class="card-img-top" alt="luxurybrand">
                <div class="card-body text-center">
                    <h5 class="card-title">BMW</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card  text-white">
                <img src="/assets/car-luxury3.jpg" class="card-img-top" alt="luxurybrand">
                <div class="card-body text-center">
                    <h5 class="card-title">Mercedes Benz</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card  text-white">
                <img src="/assets/car-luxury4.jpg" class="card-img-top" alt="luxurybrand">
                <div class="card-body text-center">
                    <h5 class="card-title">Audi</h5>
                </div>
            </div>
        </div>
    </div>
</div> -->