.brand-head {
    font-family: Lato;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 100px;
}

.carousel-item img {
    /* height: 350px; */
    object-fit: cover;
    border-radius: 24px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.text-primary {
    color: #0d6efd !important;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card {
    /* border: none;
      border-radius: 17px;
      overflow: hidden; */
    /* width: 264; */
    /* height: 246; */
    /* color:white; */
    background-color: black;

}

.card-title {
    text-align: left;
    font-family: Manrope;
    font-weight: 500;
    font-size: 25px;
    /* leading-trim: Cap height; */
    line-height: 140%;
    letter-spacing: 0px;

}

.luxury-brand-head {
    font-family: Lato;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 70px;
}