<section class="py-5  text-white">
    <div class="container mt-5">
        <div class="carousel-title">
            <span>Car Brands</span> We Cover
        </div>
        <section>
            <div class="container">
                <div id="carBrandCarousel" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Slide 1 -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/car-brand1.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">Volkswagen</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/car-brand2.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">Skoda</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/car-brand3.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">Jeep</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/car-brand4.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">Nissan</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/chevrolet_compressed.jpg" class="card-img-top"
                                            alt="carbrand">
                                        <div class="card-title text-center">Chevrolet</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/mg.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">MG</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/renault.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">Renault</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/kia.jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">Datsun</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 3 -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/isuzu (2).jpg" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">Isuzu</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="./assets/fiat.png" class="card-img-top" alt="carbrand">
                                        <div class="card-title text-center">Fiat</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Top-right buttons overlay -->
                    <!-- Top-right Buttons (Image for Previous) -->
                    <div class="carousel-buttons">
                        <a type="button" data-bs-target="#carBrandCarousel" data-bs-slide="prev">
                            <img src="./assets/Стрелки (1).png" alt="Previous" style="width: 48px; height: 48px;">
                        </a>
                        <a type="button" data-bs-target="#carBrandCarousel" data-bs-slide="next">
                            <img src="./assets/Стрелки.png" alt="Previous" style="width: 48px; height: 48px;">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>











<h1 class="luxury-brand-head"><span style="color:#1B5BE6">Luxury Car Brands</span>
    <span style="color: #FFFFFF"> We Cover</span>
</h1>
<div class="row pb-5">
    <div class="col-md-3">
        <div class="card  text-white">
            <img src="./assets/car-luxury1.jpg" class="card-img-top" alt="luxurybrand">
            <div class="card-body text-center">
                <h5 class="card-title">Jaguar</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card  text-white">
            <img src="./assets/car-luxury2.jpg" class="card-img-top" alt="luxurybrand">
            <div class="card-body text-center">
                <h5 class="card-title">BMW</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card  text-white">
            <img src="./assets/car-luxury3.jpg" class="card-img-top" alt="luxurybrand">
            <div class="card-body text-center">
                <h5 class="card-title">Mercedes Benz</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card  text-white">
            <img src="./assets/car-luxury4.jpg" class="card-img-top" alt="luxurybrand">
            <div class="card-body text-center">
                <h5 class="card-title">Audi</h5>
            </div>
        </div>
    </div>
</div>