.page-block{
    min-height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
    /* commad  */
        background: black;
}

.home-block{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('/assets/home-bg.png'); */
    background-image: url('../../../assets/homeimage.jpg');
    position: relative;
}

