<div class="page-block home-block">
    <div class="home-overlay"></div>
    <div class="home-content">
        <app-home-block></app-home-block>
    </div>
</div>
<div class="page-block">
<app-about-us></app-about-us>
</div>
<div class="page-block">
    <app-service></app-service>
    <h1>Why Choose US</h1>
</div>

<div class="page-block">
    <h1>Services</h1>
</div>
<div class="page-block">
    <app-blog-block></app-blog-block>
</div>
<div class="">
    <app-footer-block></app-footer-block>
</div>
