
<div class="col-12">
    <div class="row mt-4">
        <div class="col-8">
            <div class="mt-5">
                <h1 class="main-heading">Top-Rated <span style="color: #1B5BE6;">Car Service</span> <br>in Chennai</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="content">
                    <h1 style="font-size: 27px;">Get the best car service in Chennai with expert <br>care, quick
                        service,
                        and trusted
                        quality. Your car is<br> in
                        safe
                        hands!</h1>
                </div>
                <button class="button-edit" routerLink="/service">Explore More <span><img src="../../../../assets/Arrow.svg"
                            alt="" 
                            ></span></button>
                <button class="ContactUs" routerLink="/contact">
                    <span><img src="../../../../assets/Group.svg" alt=""></span>
                    Contact Us
                </button>
            </div>
            <div class="col-4 mb-5">
                <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="0"
                            class="active"></button>
                        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="2"></button>
                    </div>

                    <!-- Carousel content -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="custom-card">
                                <img class="badge-icon" src="../../../../assets/Group 37064.png" alt="Icon" />
                                <p class="card-text">Expert maintenance for all car brands.</p>
                            </div>
                        </div>


                        <div class="carousel-item ">
                            <div class="custom-card">
                                <img class="badge-icon" src="../../../../assets/Group 37064.png" alt="Icon" />
                                <p class="card-text">24 hrs helpline service available</p>
                            </div>
                        </div>
                         <div class="carousel-item"> 
                            <div class="custom-card">
                                <img class="badge-icon" src="../../../../assets/Group 37064.png" alt="Icon" />
                                <p class="card-text">Car service can be available in EMI service</p>
                            </div>
                        </div>
                  
                        <div class="carousel-item">
                            <div class="custom-card">
                                <img class="badge-icon" src="../../../../assets/Group 37064.png" alt="Icon" />
                                <p class="card-text">Cashless insurance claims available with all maximum eminent
                                    Insurance Companies </p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        
    </div>


</div>