.footer {
  background-color: #131921;
  color: white;
  font-family: 'Lato';
  background-image: url('/assets/footer-bg.png');
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* gap: 100px; */
  padding: 30px 60px;
  border-bottom: 1px solid #7A7A7A;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-img {
  height: 132px;
  width: 132px;
}

.footer-section p {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 34px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: 'lato';
}

.footer-section h3 {
  font-weight: 500px;
  font-size: 28px;
  line-height: 100%;
}

.divider {
  margin: 0px 20px;
  border-right: 1px solid white;
  height: 8px;
  opacity: 0.4;
}


/* .social-icons a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


.icon {
  font-size: 25px;
} */
.social-icons {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.social-icons a i {
  font-size: 25px;
  margin-right: 12px;
  color: #3b5998;
  /* optional: facebook blue */
}

.social-icons a:hover i {
  color: #0056b3;
  /* optional hover effect */
}


.input-wrapper {
  height: 40px;
  width: 254px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  padding: 4px 4px 4px 12px;
  margin-top: 30px;
}

.phone-input {
  border: none;
  outline: none;
  height: 100%;
  flex-grow: 1;
}

.input-btn {
  border-radius: 20px;
  height: 100%;
  aspect-ratio: 1;
  background-color: black;
  color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.footer-bottom {
  font-family: 'Lato';
  font-weight: 400px;
  font-size: 14px;
  line-height: 174%;
  letter-spacing: 0%;
  color: #7A7A7A;
  text-align: center;
  border-bottom: #7A7A7A;
}