<footer class="footer">
  <div class="footer-container">
  <div class="footer-section">
    <div>
      <img src="/assets/logo.png" alt="logo" class="ps-3 footer-img">
    </div>
    <div>
      <p style="font-size:16px; line-height: 25px;">Quality car service for multiple brands with efficiency</p>
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com/profile.php?id=61573723112203#" target="_blank">
        <app-social-icons iconName="facebook"></app-social-icons>
      </a>
      <div class="divider"></div>
      <a href="https://www.instagram.com/sivaautocare?igsh=MW9zejFpaXB1aWdtaw%3D%3D&utm_source=qr">
        <app-social-icons iconName="twitter"></app-social-icons>
      </a>
      <div class="divider"></div>
      <a href="https://www.facebook.com/profile.php?id=61573723112203#" target="_blank">
        <app-social-icons iconName="instagram"></app-social-icons>
      </a>
      <div class="divider"></div>
      <a href="https://www.instagram.com/sivaautocare?igsh=MW9zejFpaXB1aWdtaw%3D%3D&utm_source=qr">
        <app-social-icons iconName="youtube"></app-social-icons>
      </a>
    </div>
  </div>

  <div class="footer-section">
    <h2 style="color: grey;">Contact</h2>
    <p>Mobile:<a href="tel:8681070707" style="color: red;">8681 07 07 07,96 771 30 471</a><a href="tel:9677130471"
        style="color: red"></a></p>
    <p>Landline:<a href="tel:04442647771" style="color: red">044 - 42647771</a></p>
    <p>Email:</p><a href="mailto:krsaautocare@gmail.com" style="color: red">krsaautocare&#64;gmail.com</a>
  </div>

  <div class="footer-section">
    <div style="font-weight: 500; font-size: 28px; line-height: 150%;">Enter Your Number for a Quick Response</div>
    <form [formGroup]="numberForm" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <input appNumberOnly class="phone-input" formControlName="number" placeholder="Enter your Number" name="phoneNumber">
        <button type="submit" class="input-btn">
          <span class="material-symbols-outlined">
            arrow_forward
          </span>
        </button>
      </div>
    </form>
  </div>
  </div>
  <div>
    <p class="footer-bottom">Copyright 2023 All Right Reserved</p>
  </div>
</footer>
